@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    padding:0px;
}

#resume {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 40px;
    width: 70%;
}

#rbody {
    padding-top: 20px;
}

.row {
    padding: 20px 20px;
}

.bold {
    font-weight:bold;
}

.em {
    font-style: italic;
}

.contact-info {
    float:right;
}

ul.contact-info li {
    padding: 5px;
}

ul.contact-info {
    list-style-type: none;
}

.name {
    float: left;
}

#rheader h1 {
    font-family: "Mystery Quest",cursive;
    font-size: 700%;
    color:#66148C;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

#rheader h1 a {
    color:#66148C;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color:#00838F;
    font-size: 22px;
}

.dates {
    color: black;
}

.highlight {
    color:#CC3399;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #CC3399 ;
    text-decoration: none;
}

h3 {
    font-size: 18px;
    color: #66148c;
    margin-top: 0;
    padding-bottom: 0;
}    

h3.no-break {
    padding-top: 0;
}

p, dd, dt {
    font-size: 16px;
}

dt {
    font-weight: bold;
    padding-bottom: 0;
}

dd {
    margin-inline-start: 0;
    padding-bottom: 9px;
}

#resume .fa-phone {color:#00838F;}
#resume .fa-envelope {color:#66148C;}
#resume .fa-home {color:#CC3399;}
#resume .fa { padding-right: 5px; }

.clear {
    clear: left;
}

dl.left,
dl.middle,
dl.right{
    float: left;
    width: 33%;
}

.skills:after {
  content: "";
  display: table;
  clear: both;
}

.print-heading {
    display: none;
}

@media only screen and (max-width: 480px) {

    #rbody {
        padding-top: 0;
    }
    
    #rheader h1 {
        font-size: 65px;
    }

    #resume {
        width: 100%;
        padding-top:20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .name {
        float: none;
        text-align: center;
        padding-top: 5px;
    }

    .fill {
        display: none;
    }

    .description {
        display: none;
    }

    .contact-info {
        float: none;
    }

    ul.contact-info {
        text-align: center;
    }

    ul.contact-info li {
        display: inline-block;
    }

    ul {
        padding-left: 0;
    }

    .info {
        display: none;
    }

    .do-not-contact {
        display: none;
    }

    dl.left,
    dl.middle,
    dl.right {
        float: none;
        width: 100%;
    }

    #header {
        height: 125px;
    }
}

@media print {
    #header, #footer,
    #game-dev,
    .hide {
        display: none;
    }
    
    #resume {
        padding-top: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
        width: 100%;
    }

    #rheader h1 {
        font-size: 80px;
    }

    #jobs p {
        line-height: 16px;
        width: 75%;
    }

    a {
        text-decoration: none !important;
    }

    .web-heading {
        display: none;
    }

    .print-heading {
        display: inline;
    }
}
