@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 
body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family:'Open Sans',sans-serif;
    font-size:13px;
    font-weight: 400;
    font-style: normal;
}

h1.title
{
    text-align: center;
}

span.normal {font-style:normal}
span.italic {font-style:italic}
span.bold {font-weight:bold}

h1 {
    font-size: 30px;
    text-align: left;
}

h2 {
    font-size: 100px;
    text-align:center;
}

.rainbow {
    color:purple;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(top left, purple, blueviolet, blue, green, yellow, orange, red);
}

p {
    font-size: 17px;
}

/* cover art gallery */

.wrap {
    overflow: hidden;
    margin: 10px;
}

.box {
    float: left;
    position: relative;
    /* 3 tiles */
    width: 33.3%;
    padding-bottom: 33.3%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    border: 3px solid black; 
}

.boxInner img {
    width: 100%;
}


.feature {
    float: left;
    position: relative;
    width: 66.7%;
    padding-bottom: 33.3%;
}

@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .box {
	width: 100%;
	padding-bottom: 100%;
    }

    .feature {
width:100%;
	padding-bottom: 100%;
    }

}

@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
	width: 50%;
	padding-bottom: 50%;
    }

    .feature {
        width: 50%;
	padding-bottom: 50%;
    }


}

ul#plain {
list-style: none;
padding-left:0;
line-height:30px;
}
