@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch|Mouse+Memoirs|Rambla);

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family:'Open Sans',sans-serif;
    font-size:13px;
    font-weight: 400;
    font-style: normal;
}

h1.title
{
    text-align: center;
}

span.normal {font-style:normal}
span.italic {font-style:italic}
span.bold {font-weight:bold}

h1 {
    font-size: 30px;
    text-align: left;
}

h2 {
    font-family: "Cabin Sketch",cursive;
    font-size: 100px;
    text-align:center;
}

h3 {
    font-size:40px;
}

.ninjas img {
    padding:25px;
}

.ninjas {
    text-align:center;
}   

.rainbow {
    color:purple;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(top left, purple, blueviolet, blue, green, yellow, orange, red);
}

p {
    font-size: 17px;
}

/* force header to bottom, only on main page */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
  margin-left:150px;
  margin-right:150px;
}
