@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 19pt;
    font-weight: 400;
    line-height: 1.75em;
    color: #888;
}

#logo h1
{
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}

sidebar
{
    margin: 0 0 2em 0;
}


ul{list-style:none;}

ul,h1
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}

ul.icons
{
    cursor: default;
}	

ul.icons li
{
    display: inline-block;
}

ul.icons a
{
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

#sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    color: #fff;
    background: #222729;
    box-shadow: inset -0.25em 0 0.25em 0 color:#bbb;
    text-align: right;
}

#sidebar .top
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#sidebar .bottom
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#sidebar .icons
{
    font-size: 0.8em;
    margin: 0 0 1em 0;
    text-align: center;
}

#logo
{
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 50px;
    cursor: default;
}


#logo .byline
{
    position: relative;
    display: block;
    font-size: 0.6em;
    color:#bbb;
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}

#logo .image
{
    color: #bbb;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.image
{
    display: inline-block;
    border: 0;
    display: block;
    width: 100%;
    width: 50px;
    height: 50px;
}





#nav ul li a
{
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color:#bbb;
    text-decoration: none;
    outline: 0;
    border: 0;
}

#nav ul li a span
{
    position: relative;
    display: block;
    font-size: 0.8em;
}

#nav ul li a span:before
{
    position: absolute;
    left: 0;
    color: #999;
    text-align: center;
    width: 1.25em;
    line-height: 1.75em;
}

