   <footer id="footer">
      <ul class="icons">
        <li><a rel="me" href="https://peoplemaking.games/@genericgeekgirl" class="fab fa-mastodon solo">
            <span>Mastodon</span></a></li>
        <li><a href="https://github.com/genericgeekgirl" class="fab fa-github solo">
	    <span>GitHub</span></a></li>
        <li><a href="https://genericgeekgirl.itch.io" class="fa ico-itchio solo">
            <span>itch.io</span></a></li>

      </ul>
      <ul class="copy">
        <li>&copy; Adri "genericgeekgirl" Mills</li>
      </ul>
    </footer>
