@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

@import url(http://fonts.googleapis.com/css?family=Mystery+Quest|Open+Sans|Source+Sans+Pro);

body { 
    padding:0px; 
}

#resume {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 30px;
    width: 75%;
}

h3 {
    padding-top:20px;
}

.row {
    padding: 20px 20px;
}

span.bold {
    font-weight:bold;
}

.pageheader h1 {
    font-family: "Mystery Quest",cursive;
    font-size: 700%;
    color:#008099;
    font-weight: 400;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color:#990033;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #00991a;
    text-decoration: none;
}

h1 {
    font-size: 37px;
    line-height: 65px;
}

p {
    font-size: 14px;
    line-height: 25px;
}

li {
    font-size: 14px;
    line-height: 25px;
}

#resume .fa-phone {color:#008899;}
#resume .fa-envelope {color:#990033;}
#resume .fa-home {color:#00991a;}

@media only screen and (max-width: 480px) {
    .pageheader h1 { font-size: 65px; padding-bottom:40px; }
}

@media only screen and (max-width : 980px) and (min-width : 481px) {
    .pageheader h1 { padding-bottom:40px; }
}
